<div>
    <% if (place) { %>
        <a href="/<%- place.id%>">
            <%- place.nameOfPlace %>
                <div>
                    <img src="<%- place.pictures[0] %>" alt="" />
                </div>
        </a>
        <% } %>
</div>