<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
</head>

<body>
    <h1>THIS IS ABOUT PAGEEEEE!!!!!!!111</h1>
    <!-- <%# console.log(about) %> -->
    <div dir="rtl">
        <% about.desc.forEach(elem=> { %>
            <p>
                <%- elem %>
            </p>
            <% }) %>

    </div>
</body>

</html>