<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
</head>

<body>
    <% if (mainPage) { %>
        <%- include('../components/navbar', {mainPage}) %>


            <% } %>


                <% if (places) { %>
                    <% places.forEach(place=> { %>
                        <div>
                            <%- include ('../components/place.ejs', {place}) %>
                        </div>
                        <% }) %>
                            <% } %>
</body>

</html>